Pods/
Pods/Pods.xcodeproj/xcuserdata/projectegy.xcuserdatad/xcschemes/xcschememanagement.plist
xcuserdata/projectegy.xcuserdatad/xcschemes/xcschememanagement.plist
project.pbxprojSoqni Maak.xcodeproj/xcuserdata
*.xcuserstate
.DS_Store
